__pycache__/
*.pyc
*.pyo
*.pyd
*.exe
*.dll
*.so
*.dylib
*.msi
*.zip
*.7z
*.zip
*.7z
*.rar
*.tar
*.tar.gz
*.tgz
*.msi
*.exe
*.dmg
*.pyc
*.pyo
*.pyd
*.exe
*.dll
*.so
*.dylib
*.msi
*.zip
*.7z
*.rar
*.tar
*.tar.gz
*.tgz
*.dmg
__pycache__/
*.pyc
*.pyo
*.pyd
*.exe
*.dll
*.so
*.dylib
*.msi
*.zip
*.7z
*.rar
*.tar
*.tar.gz
*.tgz
*.dmg
